.employee-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.2rem;
    margin: 1rem 0;
    background-color: #be1010;
  }

.employee-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    margin: 1rem 0;
    background-color: #be1010;
  }

.employee-age {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(15, 14, 14);
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  
  @media (min-width: 580px) {
    .employee-name {
      align-items: center;
    }
    .employee-age {
        align-items: center;
      }
  }
